.footer{
    color:$light;
    
    ul{
        // align-items: flex-end;
        padding-left: 0;
        li{
            list-style-type: none;
        }
    }
    span{
        writing-mode:vertical-lr;
    }
}