.footer{
    color:$light;
    span{
        font-family: 'Noto Sans TC';
        font-size: 35px;
        color:$info;
        writing-mode:vertical-lr;
    }
    ul{
        // align-items: flex-end;
        li{
            list-style-type: none;
        }
    }

}