// 電腦 lg以上
@media screen and (min-width:992px){
    .ban{
        margin-top: 60px;
    }
    .row {
        div:nth-child(3) {
            justify-content:flex-end;
            align-items: flex-end;
        }
    }
}