// > lg
@media screen and (min-width:992px){
    .ban{
        margin-top: 60px;
    }
    .footer{
        .row {
            div:nth-child(1) {
                text-align: start;
            }
            div:nth-child(3) {
                justify-content:flex-end;
                align-items: flex-end;
            }
        }
    }
   
}