//商品名稱/標語
%title-name {
    font-family: 'Noto Sans TC';
    font-size: 30px;
}

//折價
%discount {
    font-size: 10px;
    text-decoration: line-through;
}



.store {
    padding-top:100px;
    background: url("../pic/wood.jpg") no-repeat center/cover;
}