body {
    letter-spacing: 2px;
    color: $dark;
}

.container-fluid {
    padding: 0px;
}

.btn-style1 {
    transition: .3s;

    &:hover {
        color: $light;
    }
}

img {
    object-fit: cover;
    object-position: center;
}