.menu {
    position: relative;
    .hot {
        position: absolute;
        left: 20px;
        top: -2px;
        height: 80px;
        writing-mode: vertical-lr;
        padding: 3px;
        background-image: linear-gradient($primary, $secondary);
        box-shadow: 3px 3px 3px black;
        font-weight: 700;
        color: black;
        &::after {
            content: "";
            display: block;
            width: 0;
            height: 0;
            position: absolute;
            bottom: -5px;
            left: 0;
            border-bottom: 5px solid transparent;
            border-top: 5px solid $secondary;
            border-left: 15px solid $secondary;
            border-right: 15px solid $secondary;
        }
    }

    .row {
        .col {
            padding-top: 50px;
            position: relative;

            &:hover {
                transform: translateY(-10px);              
            }

            .card-body {
                color: $dark;
            }
        }
    }


    button {
        position: relative;
        transition: .5s;
        width: 90px;
        height: 90px;
        line-height: 66px;
        border: none;
        border-radius: 10%;
        box-shadow: inset 0 0 3px 3px $dark;

        p {
            margin-bottom: 0px;
            font-weight: 600;
        }

        &:hover {
            transform: rotate(90deg);
            background-color: $primary;
            box-shadow: 5px 5px 3px $dark;
            border-radius: 50%;
            box-shadow: none;

            p {
                transform: rotate(-90deg);
                color: $dark;
            }
        }
    }
}