.panels {
    display: flex;
    min-height: 100vh;
    // box-sizing: border-box;
    overflow: hidden;

    p {
        border: 1px solid $info;
        margin: 0;
    }

    .panel {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $white;
        box-shadow: inset 0px 0px 5px $dark;

    }

    .panel>:first-child {
        transform: translateY(-500%);
    }

    .panel>:last-child {
        transform: translateY(500%);
    }

    .panel:nth-child(1) {
        background: url(https://images.pexels.com/photos/443446/pexels-photo-443446.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) no-repeat left/cover;
    }

    .panel:nth-child(2) {
        background: url(https://images.pexels.com/photos/443446/pexels-photo-443446.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) no-repeat 45%/cover;
    }

    .panel:nth-child(3) {
        background: url(https://images.pexels.com/photos/443446/pexels-photo-443446.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) no-repeat 65%/cover;
    }

    .panel:nth-child(4) {
        background: url(https://images.pexels.com/photos/443446/pexels-photo-443446.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) no-repeat right/cover;
    }

    .panel.open {
        font-size: 50px;
    }
}


