%center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.panels {
    display: flex;
    height: 100vh;
    color: $white;
    box-shadow: inset 0px 0px 5px $dark;
    cursor: pointer;
    overflow: hidden;
    font-size: 30px;
    // box-sizing: border-box;

    .panel {
        @extend %center;
        height: 100vh;
        flex: 1;
        transition: .3s;
        &:nth-child(1) {
            background: url(../pic/victoria-shes-jdO2CJ_OwCo-unsplash.jpg) no-repeat center/cover;
        }

        &:nth-child(2) {
            background: url(../pic/denis-tuksar-n73TTunlskE-unsplash.jpg) no-repeat center/cover;
        }

        &:nth-child(3) {
            background: url(../pic/chinh-le-duc-cO36bp1F-Cg-unsplash.jpg) no-repeat center/cover;
        }

        &:nth-child(4) {
            background: url(../pic/sam-hojati-pb7oJwtNVU4-unsplash.jpg) no-repeat center/cover;
        }
    }

    .panel>* {
        @extend %center;
        flex: 1;
        transition: .5s;
        margin: 0;
    }

    .panel>*:first-child {
        transform: translateY(-100%);
    }

    .panel>*:last-child {
        transform: translateY(100%);
    }

    .panel.open {
        flex: 2;
        h1 {
            font-size: 50px;
            font-weight: 800;
        }
    }

    .panel.open-active {
        &>*:first-child {
            transform: translateY(0);
        }
        &>*:last-child {
            transform: translateY(0);
        }
    }

}